<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link th:replace="~{fragments/style :: icon}">
  <link th:replace="~{fragments/style :: style-sheet-plus}">
  <style>
    #login-c-form-1-input-3:not(:checked) {
      border-color: black;
    }
  </style>
  <script th:replace="~{fragments/style :: bootstrap-bundle-min}"></script>
</head>
<body>
<section class="w-100 p-4 d-flex justify-content-center pb-4 mt-5">
  <form action="/login" method="post" style="width: 22rem;">
    <!-- Email input -->
    <div class="form-outline mb-1">
      <input type="text" id="login-c-form-1-input-1" class="form-control" name="username"/>
      <label class="form-label" for="login-c-form-1-input-1">Username or Email address</label>
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="login-c-form-1-input-2" class="form-control" name="password"/>
      <label class="form-label" for="login-c-form-1-input-2">Password</label>
    </div>
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <!-- Checkbox -->
      <div class="col d-flex justify-content-center">
        <div class="form-check">
          <input type="checkbox" id="login-c-form-1-input-3" class="form-check-input" name="rememberMe"
            value=""/>
          <label class="form-check-label" for="login-c-form-1-input-3">Remember me</label>
        </div>
      </div>
      <!-- Simple link -->
      <div class="col">
        <a href="/forgotpassword">Forgot password?</a>
      </div>
      <!--      <h5 th:text="${forgotPasswordMessage}" style="color: mediumblue"></h5>-->
      <h5 th:text="${forgotPasswordMessage}" style="color: mediumblue"></h5>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary w-100 mb-4">Sign in</button>
    <!-- Register button -->
    <div class="d-inline-flex">
      <div class="mt-2 mx-4">Not a member ?</div>
      <a href="/register">
        <button type="button" class="btn btn-primary" style="background-color: #0b5ed7;">
          Register
        </button>
      </a>
    </div>
  </form>
</section>
</body>
</html>
